<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.hyzt.blogSystem.mapper.SysBlogTagMapper">
    
    <resultMap type="SysBlogTag" id="SysBlogTagResult">
        <result property="blogId"    column="blog_id" />
        <result property="tagId"     column="tag_id"  />
    </resultMap>

    <delete id="deleteSysBlogTagById" parameterType="Long">
        delete from sys_blog_tag where blog_id = #{blogId}
    </delete>

    <delete id="deleteSysBlogTag" parameterType="String">
        delete from sys_blog_tag where blog_id in 
        <foreach item="blogId" collection="array" open="(" separator="," close=")">
            #{blogId}
        </foreach>
    </delete>

    <select id="countBlogTagById" resultType="int">
        select count(1) from sys_blog_tag where tag_id = #{tagId}
    </select>

    <insert id="batchBlogTag">
        insert into sys_blog_tag(blog_id, tag_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.blogId}, #{item.tagId})
        </foreach>
    </insert>
    
</mapper>